<div class="block">
  <h3>新建</h3>
  <ul class="navigation">
    <li><%=link_to "新建入库单",new_consumer_receipt_path(:active_sub_tab => 6)%></li>
    <li><%=link_to "新建领用单",new_consumer_shippment_path(:active_sub_tab => 9)%></li>
    <li><%=link_to "新建物品资料",new_consumer_material_path(:active_sub_tab => 7)%></li>
  </ul>
</div>

<div class="block">
  <h3>查询</h3>
  <div class="content">
    <%= render :partial => "search_form" %>
  </div>
</div>

