<h1>Editing durable_receipt</h1>

<% form_for(@durable_receipt) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @durable_receipt %> |
<%= link_to 'Back', durable_receipts_path %>