<h1>Listing carrying_bills</h1>

<table>
  <tr>
  </tr>

<% @carrying_bills.each do |carrying_bill| %>
  <tr>
    <td><%= link_to 'Show', carrying_bill %></td>
    <td><%= link_to 'Edit', edit_carrying_bill_path(carrying_bill) %></td>
    <td><%= link_to 'Destroy', carrying_bill, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New carrying_bill', new_carrying_bill_path %>