<script type='text/javascript'>
  var user_selector = new com.yanzhao.UserSelector();
  user_selector.set_param([],'user_list','users_display');
</script>
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "通知公告列表", notices_path  %></li>
      <li class="active"><%= link_to "新建通知公告", new_notice_path %></li>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">新建通知公告</h2>
    <div class="inner">
      <% form_for @notice, :html => { :class => :uniForm } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>

