<tr class='fields'>
  <td>
    月份:
    <%=f.text_field :mth,:readonly => true,:style => "width : 100px;"%>
  </td>
  <td>
    始发货
    <%=f.text_field :start_radio, :class =>'text-right',:style => "width : 100px;"%>
    %
  </td>
  <td class='text-right'>
    返程货
    <%=f.text_field :back_radio, :class =>'text-right',:style => "width : 100px;"%>
    %
  </td>
</tr>
