<script type='text/javascript'>
  //选择物品
 material_selector = new com.yanzhao.MaterialSelector();
</script>
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "单据列表", self.send("#{@param_name.tableize}_path") %></li>
      <li><%= link_to "新单据", self.send("new_#{@param_name}_path") %></li>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">新建单据</h2>
    <div class="inner">
      <% form_for instance_variable_get("@#{@param_name}"),:html => { :class => :uniForm } do |f| -%>
        <%= render "shared/material_inouts/form", :f => f %>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
