<div class="block">
  <h3>新建</h3>
  <ul class="navigation">
    <li><%= link_to "新建科室", new_department_path %></li>
    <li><%= link_to "新建分公司", new_sub_company_path %></li>
    <li><%= link_to "新建仓库", new_warehouse_path %></li>
  </ul>
</div>
