/* 分部返款结算表打印样式 */
.text-center {text-align : center;}
#print_buttons{ display : none;}
#settlement_show{ width : 200mm; }
#title,#sub_title { text-align : center;}
#settlement_show,#settlement_show table {
  border-collapse : collapse;
  width : 100%;
}

#settlement_show  { border : 1px solid gray;}
#settlement_show  td{
  border : 1px solid gray;
  height : 10mm;
  padding : 0;
  margin : 0;
}
#settlement_show .col_15 { width : 30mm;}
#settlement_show .col_10 { width : 20mm;}
#settlement_show td.number { text-align : center;}
#base_fee,#subsidy_fee,#deductions_fee,#others_fee { border : none;}
#base_fee td,#subsidy_fee td,#deductions_fee td,#other_fee td,#sum_fee td,#sum_rmb td,#sign_area td { padding : 4px;}
