/* Override here any style definide by web-app-theme */
#user-navigation { bottom : 0;}
#user-navigation ul li.active{
  background : none repeat scroll 0 0 #F0F0EE;
  -moz-border-radius-topleft : 4px;
  -moz-border-radius-topright : 4px;
}

#user-navigation ul li.active a:link,#user-navigation ul li.active a:visited,#user-navigation ul li.active a:hover,#user-navigation ul li.active a:active { color : #262626;}
/* 重写block容器 */
#select_user_wrap .block{
  -moz-border-radius : 4px;
  backgroundd : none repeat scroll 0 0 #FFFFFF;
  margin-bottom :20px;
  padding-bottom : 10px;
}
#select_user_wrap .block h3{
  -moz-border-radius-topleft : 4px;
  -moz-border-radius-topright :4px;
  background : none repeat scroll 0 0 #2F427A;
  border-bottom : 10px solid #262626;
  color : #FFFFFF;
  font-size : 15px;
  margin : 0;
  padding : 10px 15px;
}
#select_user_wrap .block h3 a{
  color : #FFFFFF;
}

/* 导航ul */
ul.navigation{
  list-style-type : none;
  margin : 0;
  padding : 0;
}
ul.navigation li a:link,ul.navigation li a:visited {
  background : none repeat scroll 0 0 #FFFFFF;
  border-bottom : 1px solid #F0F0EE;
  text-decoration : none;
  display : block;
  padding : 10px 15px;
}
/* 底部边框 */
.border-bottom{
  border-bottom : 1px solid #D3D3D3;
}
/* 圆角框*/
.radius-box{
  border : 1px solid gray;
  -moz-border-radius : 4px;
  padding : 5px;
  margin : 0 5px 10px 5px;
}
.margin-left {margin-left : 10px;}
.float-left{float : left;}
.float-right{float : right;}
/* 文字靠右显示*/
.text-right { text-align : right;}
.text-center { text-align : center;}

/*小字体*/
.small-font{ font-size : 0.6em;}
.big-font{ font-size : 1.4em;}
.bold-font{ font-weight : bold;}
/* 红色文字 */
.red-text {color : red;}
/* 删除按钮 */
.delete {
  color : red;
  text-decoration : underline;
  cursor : pointer;
  font-size : 0.8em;

}
/*文字的省略号表示*/
.ellipsis {
  display:block;
  overflow: hidden; 
  text-overflow:ellipsis;
  white-space:nowrap; 
  width:180px;
}

/* 表单录入界面中的title */
.title {font-size : 1.2em;}

/*用户选择窗体*/
#select_user_wrap #org_list{ width : 30%;}
#select_user_wrap #user_list{ width : 68%;}
.user_wrap{
  float : left;
  margin : 5px;
  font-size : 1.2em;
}
/*增大uniForm textarea默认的高度*/
.uniForm .blockLabels textarea { height : 25em;width : 90%;}
/* uniForm 中的formHint的位置上偏,进行调整*/
.uniForm .blockLabels .formHint { top : 0;}
/*短文本*/
.uniForm .shortText {width : 25%;}
/*较小一些的textarea*/
.small-textarea{ width : 90%;height : 15em;}

.light-blue{ background : #DEEBF7;}
/* 文档查看界面中的文档信息样式样 */
.doc-info{
  background : #DEEBF7;
  border : 1px solid #D3D3D3;
}
.doc-info li{
  margin : 1.5em;
}

/* 分部返款结算表 */
#settlement_show,#settlement_show table {
  border-collapse : collapse;
  width : 100%;
}
#settlement_show tr{ height : 1.5em;}
#settlement_show  td{
  border : 1px solid #D3D3D3;
  padding : 0;
  margin : 0;
}
#settlement_show .col_60 { width : 60%;}
#settlement_show .col_40 { width : 40%;}
#settlement_show .col_15 { width : 15%;}
#settlement_show .col_10 { width : 10%;}
#settlement_show td.number { text-align : center;}
#base_fee,#subsidy_fee,#deductions_fee,#others_fee { border : none;}
/*主页面工具导航容器*/
#util-navigation {
    position : absolute;
    right : 20px;
    top : 0;
}
#util-navigation ul li {
  float : left;
  padding : 5px 10px;
  list-style-type : none;
}

#util-navigation ul li a:link,#util-navigation ul li a:visited,#util-navigation ul li a:hover,#util-navigation ul li a:active {
  color : #FFFFFF;  
  text-decoration : none;
}
#util-navigation a.logout {
  -moz-border-radius:4px 4px 4px 4px;
  background:none repeat scroll 0 0 #CC0000;
  padding:2px 6px;
}
/*错误信息显示样式*/
#main .block .content .fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}

#main .block .content  #errorExplanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#main .block .content  #errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#main .block .content  #errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#main .block .content  #errorExplanation ul  { padding-left : 10px;}

#main .block .content  #errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
/*未读消息样式*/
tr.unread { font-weight : bold;font-size : 1.2em;}
/*new图标*/
.new_icon {
width : 19px;
display :block;
margin-top : -45px;
margin-left : 58px;
position : absolute;
}
