<div class="block">
  <h3>新建</h3>
  <ul class="navigation">
    <li><%=link_to "新建用户",new_user_path%></li>
  </ul>
</div>
<div class="block">
  <h3>注意</h3>
  <div class="content">
    <p>为保证数据的完整性,您可以将不再使用的用户设置为无效,请不要删除用户.</p>
  </div>
</div>

