<div class="block">
  <div class="secondary-navigation">
    <%=render "caption"%>
  </div>          
  <div class="content">          
    <h2 class="title">用户信息</h2>
    <div class="inner wat-cf">
      <table class='table'>
        <%=render @users%>
      </table>
    </div>
  </div>
</div>
