<div class="block">
  <div class="secondary-navigation">
    <%=render "caption"%>
  </div> 
  <div class="content">            
    <h2 class="title">新建用户</h2>
    <div class="inner">
      <%= render :partial => 'form' %>
    </div>
  </div>
</div>
