<h1>Listing inout_bills</h1>

<table>
  <tr>
  </tr>

<% @inout_bills.each do |inout_bill| %>
  <tr>
    <td><%= link_to 'Show', inout_bill %></td>
    <td><%= link_to 'Edit', edit_inout_bill_path(inout_bill) %></td>
    <td><%= link_to 'Destroy', inout_bill, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New inout_bill', new_inout_bill_path %>