<script type='text/javascript'>
  var user_selector = new com.yanzhao.UserSelector();
  user_selector.set_param([],'user_list','users_display');
</script>
<%=render "shared/messages/set_variables"%>
<div class="block">
  <div class="secondary-navigation">
    <%= render :partial => "shared/messages/caption" %>
  </div>          
  <div class="content">            
    <h2 class="title"><%="新建#{@title}"%></h2>
    <div class="inner">
      <% form_for @message, :html => { :class => :uniForm,:id => "message_form" } do |f| -%>
        <%= render :partial => "shared/messages/form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
