<div class="block">
  <h3>操作</h3>
  <ul class="navigation">
    <li><%=link_to "新建物品信息",new_durable_material_path%></li>
    <li><%=link_to "导出查询结果",""%></li>
  </ul>
</div>
<div class="block">
  <h3>查询</h3>
  <div class="content">
    <%= render :partial => "search_form" %>
  </div>
</div>

