<div class="block">
  <h3>查询</h3>
  <div class="content">
    <%= render :partial => "search_form" %>
  </div>
</div>
<div class="block">
  <h3>操作</h3>
  <ul class="navigation">
    <li><%=link_to "导出查询结果",vip_infos_path(:search => params[:search],:format => :csv)%></li>
  </ul>
</div>

<%if check_power('remove_vip_infos')%>
  <div class="block">
    <h3>删除</h3>
    <div class="content">
      <%= render "remove_form" %>
    </div>
  </div>
<% end %>
