<div class="block">
  <h3>导入</h3>
  <ul class="navigation">
    <li><%=link_to "导入VIP升级文件",new_upload_vip_file_path%></li>
  </ul>
</div>
<div class="block">
  <h3>查询</h3>
  <div class="content">
    <%= render :partial => "search_form" %>
  </div>
</div>

