<div id="main_content" class='span-18  prepend-top'>
  <%=render :partial => "caption_tk"%>
  <%=render :partial => "share/bill_list",:object => {:show_sum => true,:bills => @bills}%>
</div>
<%=render :partial => "side_bar_tk"%>

