<div id="main_content" class='span-18  prepend-top'>
  <%=render :partial => "#{params[:bill_type]}/caption_post"%>
  <%=render :partial => "share_operate/list",:object => @bill_operates %>
</div>
<%=render :partial => "share_operate/side_bar"%>

