<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1 style='text-align : center;'><%= Client.first.name %></h1>
    <h2 style='text-align : center;'><%= @rule.doc_no %></h2>
    <hr />
    <hr />
    <h2 style='text-align : center;'><%= @rule.title %></h2>
    <p>
      <%= @rule.body %>
    </p>

  </body>
</html>
