<div class="block">
  <h3>新建</h3>
  <ul class="navigation">
    <li><%=link_to "录入投票信息",new_vote_path %></li>
  </ul>
</div>
<div class="block">
  <h3>查询</h3>
  <div class="content">
    <%=render "search_form"%>
  </div>
</div>
<% if params[:action] == 'show' %>
  <div class="block">
    <h3>导出</h3>
    <ul class="navigation">
      <li><%=link_to "导出投票信息",vote_path(@vote,:format => :csv) %></li>
    </ul>
  </div>
<% end %>



