<div class="block">
  <h3>新建</h3>
  <ul class="navigation">
    <li><%=link_to "录入投票信息",new_vote_path %></li>
  </ul>
</div>
<div class="block">
  <h3>查询</h3>
  <div class="content">
    <%=render "search_form"%>
  </div>
</div>


