<div class="block">
  <div class="secondary-navigation">
    <%= render :partial => "durable_receipts/caption" %>
  </div>          
  <div class="content">            
    <h2 class="title">新建仓库信息</h2>
    <div class="inner">
      <% form_for @warehouse, :html => { :class => :uniForm } do |f| -%>
        <%= render "form", :f => f %>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
